.image-option {
  /* background: #ebf3ff; */
  /* color: #334155; */
  width: 46%;
  margin: 10px 0;
  border-radius: 4px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 150px;
  margin: 0;
}

.img {
  border: 2px solid #263868;
}
