.options-container {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.option {
  background: #ebf3ff;
  color: #334155;
  padding: 12px 16px;
  width: 46%;
  margin: 10px 0;
  border-radius: 4px;

  @media (max-width: 767px) {
    width: 100%;
  }
}

.active {
  background: #5b6f94;
  color: white;
}

.sui {
  color: red;
}

.two {
  color: white;
}
